window.bar {
    background-color: transparent;
    color: white;
}


button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 18px;
    background-color: #080013;
}

button:active {
    background-color: #200046;
}

button:hover {
    background-color: #300169;
}

label {
    font-weight: bold;
    font-size: 1.2em;
}

.workspaces {
    border-radius: 18px;
    background-color: #080013;
}

.workspaces button.focused {
    background-color: #300069;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 18px;
}

.workspaces button {
    color: white;
    border-radius: 18px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding: 6px;
}

.client-title {
    color: transparent;
    padding: 6px;
}

.notification {
    color: white;
}

.media {
    background-color: #080013;
}

#center {
    color: white;
    border-radius: 18px;
    margin-top: 7px;
    background-color: #080013;
}

#left {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 7px;
}

#right {
    color: white;
    border-radius: 18px;
    margin-right: 10px;
    margin-top: 7px;
}

.tray-icons {
    color: white;
    background-color: transparent;
    padding: 6px;
}

#tray {
    color: white;
    background-color: #080013;
    border-radius: 18px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 0;
}

#volume {
    color: white;
    padding-right: 10px;
    padding-left: 5px;
}

#current-title {
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 18px;
    background-color: #080013;
}

#bt-indicator {
    color: white;
    padding-right: 10px;
}

#ntw-ind {
    color: white;
    padding-right: 5px;
}

#notif-btn {
    color: white;
    padding: 4px;
    margin-right: 0;
    margin-left: 0;
    padding: 6px;
}

.clock {
    color: white;
}

#q-settings {
    padding: 6px;
}